# pip install --target site-packages --python-version 3.10 --only-binary=:all: -r requirements.txt
# some require manual installation:
# pip install --target site-packages --python-version 3.10 --only-binary=:all: --ignore-requires-python  pc_ble_driver_py==0.17
# pip install --target site-packages --python-version 3.10 crcmod

antlib >= 1.1b0; sys_platform == 'win32'
click
# crcmod
ecdsa
intelhex
libusb1==1.9.3
# pc_ble_driver_py >= 0.16.4
piccata
protobuf >=3.17.3, < 4.0.0
pyserial
pyspinel >= 1.0.0a3
pyyaml
tqdm
